services:
  mysql:
    image: mysql:8.2
    container_name: sv_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: sistema_venta_fe
      MYSQL_USER: ventas_user
      MYSQL_PASSWORD: ventas_pass
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./sistema_venta_fe.sql:/docker-entrypoint-initdb.d/01_sistema_venta_fe.sql:ro

  phpmyadmin:
    image: phpmyadmin:apache
    container_name: sv_phpmyadmin
    restart: unless-stopped
    depends_on:
      - mysql
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: root
      UPLOAD_LIMIT: 256M
    ports:
      - "8081:80"

volumes:
  mysql_data:
